In [4]:
import pandas as pd
import numpy as np

# Census data

In [5]:
data_census = pd.read_csv('data/sp/census_data/sp_dados_demograficos_setores2010.csv')
data_census=data_census.replace('X',np.NaN)

In [6]:
data_census.to_csv('data/sp/census_data/data_preprocess.csv')

# Weather data

In [10]:
station1 = 'data/sp/meteorological_data/Barueri.csv'
station2 = 'data/sp/meteorological_data/Mirante.csv'

In [11]:
pd.read_csv(station1, sep=';')

,Data,Precipitacao_Total,Temperatura_Maxima,Temperatura_Minima
0,2011-03-29 00:00:00,0.0,24.3,22.9
1,2011-03-29 01:00:00,0.0,23.0,22.7
2,2011-03-29 02:00:00,0.0,22.9,22.4
3,2011-03-29 03:00:00,0.0,22.5,22.3
4,2011-03-29 04:00:00,0.0,22.3,21.8
...,...,...,...,...
90667,2021-07-31 19:00:00,0.0,16.8,15.5
90668,2021-07-31 20:00:00,0.0,15.5,13.1
90669,2021-07-31 21:00:00,0.0,13.1,11.9
90670,2021-07-31 22:00:00,0.0,11.9,11.6
90671,2021-07-31 23:00:00,0.0,11.8,11.6